/* Custom Styles */
:root {
    --bs-body-font-family: "Geist", Helvetica, Arial, sans-serif;
    --bs-primary: #ff8d13;
    --bs-primary-dark: #d97706;
    --bs-success-rgb:#00d21b
    --bs-warning-soft: rgba(255, 193, 23, 0.25);

}

body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.gradient-text {
    background: linear-gradient(to right, #ff8d13, #ffc117);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tracking-tighter {
    letter-spacing: -0.04em;
}

.tracking-tight {
    letter-spacing: -0.025em;
}

.hover-text-dark:hover {
    color: var(--bs-dark) !important;
    transition: color 0.2s;
}

.bg-warning-soft {
    background-color: var(--bs-warning-soft);
}

.border-dashed {
    border-style: dashed !important;
}

@@media (max-width: 768px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
